html, body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 0.5vw;
  height: 0.5vw;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5vw;
  background-color: #555555;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 0.5vw;
  background-color: #333333;
}

::-webkit-scrollbar-thumb:active {
  border-radius: 0.5vw;
  background-color: #1f1f1f;
}

label {
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

label:hover {
  background-color: #9eabe4;
  background-image: linear-gradient(315deg, #9eabe4 0%, #77eed8 74%);
}

h2 {
  font-size: 1.5em;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

body {
  background-color: #F0F8FF;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 40em;
}

p {
  font-size: 1.3em;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: navy;
}

a:hover {
  text-decoration: none;
  color: blue;
}
